<div class="container">
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="" [formGroup]="form">
            <div class="mb-3">
                <input type="text" placeholder="enter username" id="id_username" name="username" formControlName="username">
            </div>
            <div class="mb-3">
                <input type="text" placeholder="enter username" id="id_password" name="password" formControlName="password">

            </div>
            <div class="mb-3">
                <button class="btn btn-info" (click)="handleFormSubmit()">Login</button>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>


</div>